{% if user.is_authenticated %}
    {% include 'base.html' %}
{% else %}
    {% include 'base_login.html' %}
{% endif %}

{% load static %}

{% block content %}

<div class="container">


<div class="row">

<div class="col-5">

<h3 align="center">Adelantos</h3>
<hr>
<div  class="pre-scrollable" align="center">
	{% if trailers %}
		{% for trailer in trailers %}
				 <small class="text-muted">{{trailer.creacion}}</small> </br>
				<h4 align="center"> {{trailer.titulo}} </h4>
				<img src="{{trailer.get_imagen}}" style="width:150px;height:200px;">
				{{trailer.texto|linebreaks}} </br></br>
				<hr>
		{% endfor %}
	{% else %}
		<small class="text-muted">No hay adelantos</small>
	{% endif %}
</div>


</div> <!--fin columna-->

<div class="col-5 offset-2">

<h3 align="center">Novedades</h3>
<hr>
<div  class="pre-scrollable" align="center">
	{% if novedades %}
		{% for novedad in novedades %}
				 <small class="text-muted">{{novedad.creacion}}</small> </br>
				<h4 align="center"> {{novedad.titulo}} </h4>
				{{novedad.texto|linebreaks}} </br></br>
				<hr>
		{% endfor %}
	{% else %}
		<small class="text-muted">No hay novedades</small>
	{% endif %}
</div>

</div> <!--fin columna-->
</div> <!--fin fila-->


<br><br><br>


<div class="row">
<div class="col-12">

{% if user.is_authenticated %}
	<h2 align="center">Área para miembros</h2>

	<p align="center">
		Bienvenido <b>{{nombre_perfil}}</b>,
		esta página es exclusiva para usuarios registrados.
	</p>
{% endif %}

</div>      <!--fin fila-->
</div>      <!--fin columna-->


</div>    <!--fin container principal-->

{% endblock %}

