{% extends 'base.html' %}

{% block content %}

<br>

<h2>{{titulo}}</h2>

<table  class="table">

	<tr>
		<td>NUMERO DE CAPITULO</td>
		<td>PAGINAS</td>
	</tr>

	{% for capitulo in capitulos %}

	<tr>
		<td><a href="/action/{{capitulo.libro.id}}/{{capitulo.id}}">Capitulo {{capitulo.numero}}</a></td>
		<td>{{capitulo.nropaginas}}</td>
	</tr>

	{% endfor %}

</table>
 <br><br>
 <hr>
 <form method="post">
 	{% csrf_token %}
 	{{ comentario_form.as_p }}
 	<input type="submit" value="Comentar">
 <div class="seccion-comentarios">
 	{% for comentario in comentarios %}
 		<blockquote class="blockquote">
 		 	<p class="mb-0">{{ cometario.comentario }}</p>
  			<footer class="blockquote-footer"><cite title="Source Title">{{ comentario.perfil.username }}</cite></footer>
		</blockquote>
 	{% endfor %}


{% endblock %}