{% extends 'base.html' %}

{% block content %}

<br>

<h2>{{titulo}}</h2>
<div id="favorito">
	{% if is_favorito %}
	<a href="agregarFavorito/{{capitulo.libro.id}}">
		<i class="fas fa-star"></i>
	{% else %}
	<a href="agregarFavorito/{{capitulo.libro.id}}">
		<i class="far fa-star"></i>
<table  class="table">

	<tr>
		<td>NUMERO DE CAPITULO</td>
		<td>PAGINAS</td>
	</tr>

	{% for capitulo in capitulos %}

	<tr>
		<td><a href="/action/{{capitulo.libro.id}}/{{capitulo.id}}">Capitulo {{capitulo.numero}}</a></td>
		<td>{{capitulo.nropaginas}}</td>
	</tr>

	{% endfor %}

</table>



{% endblock %}