{% extends 'base.html' %}

{% block content %}

<br>

<h2>{{libro}}</h2>

<br>

<table  class="table">

	<tr>
		<td>NUMERO DE CAPITULO</td>
		<td>PAGINAS</td>
	</tr>

	{% for capitulo in capitulos %}

	<tr>
		<td><a href="/action/{{capitulo.libro.id}}/{{capitulo.id}}">Capitulo {{capitulo.numero}}</a></td>
		<td>{{capitulo.nropaginas}}</td>
	</tr>

	{% endfor %}

</table>



<br><br>

<hr>



<div class="row">
	<div class="col-md-6 mx-auto">
		<h4>Comentarios:</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-6 mx-auto">

                        {% if comentarios %}
                                {% for comentario in comentarios %}
                                        <div class="card">
                                             <div class="row">
                                                <div class="col-md-12">
			{% load tz %}
                                                     <small class="text-muted float-right">{{comentario}}</small>
                                                </div>
                                             </div>
                                             <div class="row">
                                                <div class="col-md-12">
			    <div style="padding:7px;">
                                                         {{comentario.texto | linebreaks}}
			    </div>
                                                </div>
                                             </div>
                                        </div>
                                {% endfor %}
                        {% else %}
		<br>
                                <h5>No hay comentarios, se el primero</h3>
		<br>
                        {% endif %}

                        <br>

                        <div class="row">
                                <div class="col-md-12">
                                        <form method="POST">
                                             {% csrf_token %}
                                             {{comentario_form}}
                                             <br>	
                                             <button name="enviar" class="btn btn-success float-right" type="submit">Comentar</button>
                                        </form>
                                </div>
                        <div>



	</div>
</div>


<br>


{% endblock %}